/* UserRegistration.css */
.registration-container {
    text-align: center;
    padding: 20px;
  }
  
  .registration-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
  }
  
  /* Style the buttons */
  .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Style the link buttons */
  .link-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .link-button:hover {
    background-color: #0056b3;
  }
  
  .page-title {
    margin-top: 0;
  }
  